@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-container {
        flex-direction: column;
        align-items: center;
    }
}


html {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/710d74e0-7158-408e-8d9b-23c219dee5df/IN-en-20210719-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Coloquei elemento before para dar sombreamento */

p {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* utilizei para estilizar o paragrafo dos subtitles */

main {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
}

button {
    cursor: pointer;
}

.imagem-logo {
    width: 140px;
    padding: 1rem 3rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 1rem 3rem;
}

.languagem-dropdown {
    border: 0.3px solid whitesmoke;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.sing-button {
    background-color: rgb(235, 35, 35);
    border: 1px solid #dc030f;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    color: white;
}

/*.text-container {
   /*position: absolute;*/
/*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
/*text-align: center;
    color: whitesmoke;*/


.story-card {
    width: 100%;
    max-width: 950px;
    height: 495px;
    /* Altura fixa */
    margin: 0 auto;
    /* Centralizar horizontalmente */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 2rem;
    border-radius: 0.5rem;
}

.story-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.story-card-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    gap: 1rem;
}

.form-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 155px;
}

.fomr-invitation {
    font-weight: 400;
}

.form-container-email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#input-email {
    width: 460px;
    font-size: 1rem;
    padding: 1.4rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    border-style: none;
}

#btn-form {
    padding: 1rem 1.4rem;
    color: white;
    background: red;
    border-style: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.img-resources {
    text-align: center;
    margin-top: 1rem;
}

.resources-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display, justify-content e aling-items, utilizado para alinhar o texto ao lado da imagem */
    background-color: #000000;
    padding: 2rem 0;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.img-where {
    text-align: center;
    margin-top: 1rem;
}

.where-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    /* display, justify-content e aling-items, utilizado para alinhar o texto ao lado da imagem */
    background-color: #000000;
    padding: 2rem 0;
    text-align: center;
    margin-top: 0;
    color: white;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display, justify-content e aling-items, utilizado para alinhar o texto ao lado da imagem */
    background-color: #000000;
    padding: 2rem 0;
    text-align: center;
    margin-top: 0;
    color: white;
}

.section-divider {
    background-color: gray;
    height: 3px;
}