header {
    max-width: 100vw;
}

* {
margin: 0;
}

.imagem-logo {
width: 140px;
}

.navbar {
display: flex;
flex-direction: row;
width: 100%;
position: absolute;
justify-content: space-between;
}

.dropdown-container {
display: flex;
justify-content: space-between;
column-gap: 10px;
}

.languagem-dropdown {
border: 1px solid whitesmoke;
padding: 0.4rem;
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.5);
color: white;
}

.sing-button {
background-color: rgb(235, 35, 35);
border: 1px solid #dc030f;
padding: 14px;
border-radius: 10px;
color: white;
}

.image-bg {

}

.image {
max-width: 100vw;
}